#index-top{
    min-height: 100vh;
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%);
    border-radius: 10px;
}

#index-top img{
    position: absolute;
    z-index: -1;
}
#index-top img:nth-of-type(1){
    top: -8%;
    left: -4%;
}
#index-top img:nth-of-type(2){
    right: 0;
}

.boutton{
    margin: 15px auto;
    width: 200px;
    text-align: center;
    transition: .2s;
}

.listeactus{
    width: 50%;
    margin: auto;
}

h3{
    font-size: 30px;
    padding-bottom: 30px;
}

.block{
    padding: 25px;
    width: calc(100% - 50px);
    margin: 70px 0;
}


.listeversus{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
    margin: 50px auto;
}

.listeversus .block{
    width: 350px;
    margin: 25px;
    text-align: center;
}

.listeversus .block div:nth-of-type(1) img{
    position: relative;
    max-height: 150px;
    display: inline-block;
    margin: 20px;
    max-width: 200px;
}

.listeversus .block .line-blue{
    height: 3px;
}

.listeversus .block div:nth-of-type(3) p{
    display: inline-block;
    width: 49%;
    margin: 25px 0;
}

.listeversus .block div:nth-of-type(3) p:nth-last-of-type(1){
    text-align: right;
    vertical-align: top;
}
.listeversus .block div:nth-of-type(3) p:nth-last-of-type(2){
    text-align: left;
    vertical-align: top;
}

@media screen and (max-width: 1200px){
    #index-top img{
        width: 30%;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 35px;
    }

    #index-top img:nth-of-type(1) {
        top: 5%;
        left: 0;
    }

    #index-top{
        min-height: 75vh;
    }
}