.listeactus{
    width: 50%;
    margin: auto;
    padding: 50px;
}

h3{
    font-size: 30px;
    padding-bottom: 30px;
}

.block{
    padding: 25px;
    margin: 70px 0;
}

.fa-star{
    color: #FFB400;
}