h1 span{
    position: relative;
}
h1 span::after{
    border-radius: 25px;
    position: relative;
    content: '';
    display: block;
    width: 100%;
    height: 12px;
    border-radius: 25px;
    background: var(--blue);
    position: absolute;
    bottom: 0;
    left: 0;
}

#index-top{
    min-height: 100vh;
    position: relative;
}

#index-top img{
    position: absolute;
    z-index: -1;
}
#index-top img:nth-of-type(1){
    top: -8%;
    left: -4%;
}
#index-top img:nth-of-type(2){
    right: 0;
}

.boutton{
    margin: 15px auto;
    width: 200px;
    text-align: center;
    transition: .2s;
}

.listeactus, .listeversus{
    width: 60%;
    margin: auto;
    padding: 20px;
}

.sous{
    text-align: center;
}

h3{
    font-size: 30px;
    padding-bottom: 30px;
}

.block{
    padding: 25px;
    margin: 70px 0;
}

.listeactus .block div{
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

.listeactus .block div p{
    margin: 15px 0;
    max-width: 80%;
    text-align: justify;
}

.listeactus .block div img{
    margin: auto;
    width: 80%;
    display: block;
}

.listeactus .block:nth-of-type(2n) div:nth-of-type(2) p, .block:nth-of-type(2n) div:nth-of-type(2) h3, .block:nth-of-type(2n) div:nth-of-type(2) a{
    margin-left: 10%;
}


.listeversus{
    display: flex;
    flex-wrap: wrap;
}

.listeversus .block{
    width: 350px;
    margin: 25px;
    text-align: center;
}

.listeversus .block div:nth-of-type(1) img{
    position: relative;
    height: 150px;
    display: inline-block;
    margin: 20px;
}

.listeversus .block .line-blue{
    height: 3px;
}

.listeversus .block div:nth-of-type(3) p{
    display: inline-block;
    width: 49%;
    margin: 25px 0;
}

.listeversus .block div:nth-of-type(3) p:nth-last-of-type(1){
    text-align: right;
}
.listeversus .block div:nth-of-type(3) p:nth-last-of-type(2){
    text-align: left;
}

#premier{
    margin-top: 0px;
}

.btn
{
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    border:1px solid #ccc;
}
.btn:hover
{
    color:#2b579a;
    background-color:#ccc;
    border:1px solid #2b579a;
}

.actif{
    background-color: var(--blue);
    color: white;
}

#auCentre{
    justify-content: center;
    display: flex;
}