
.auteur {
    text-align: right;

}

.block article p{
    padding: 20px;
}

#image{
    width:350px;
}

.frame-bottom {
    margin: 90px 30px;
}

@media screen and (max-width: 1340px) {
    .content {
        flex-direction: column !important;
        justify-content: center;
        height: auto;
    }

    .right {
        padding-top: 50px;
    }

    .left {
        width: auto;
    }
}

@media screen and (max-width: 1050px) {

    .parte-note {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .comment-right p {
        font-size: 12px !important;
    }

    .bar {
        margin: 30px 0px;
    }

    .frame-mid .block {
        height: 500px;
    }
}

@media screen and (max-width: 850px) {
    .content {
        min-width: 600px;
    }

    .content-all {
        min-width: 600px;
    }
}

.open {
    transform: translateY(-10px);
    color: var(--blue);
}

    .open:before {
        top: 100%;
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: var(--blue);
        border-radius: 10px;
    }

.content-all {
    width: 100%;
    overflow: hidden;
}

.scroll {
    position: relative;
    transition: 0.5s;
}


.content:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 100%;
}

.move {
    transform: translateX(-100%);
}


.frame-bottom .block {
    margin-bottom: 50px;
}

    .frame-bottom .block .all {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        height: 70%;
    }

.all .comment-right {
    width: 80%;
}

.all .comment-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}


.comment-note {
    display: flex;
    margin-top: 10px;
}


.comment-bo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

    .comment-bo .date {
        color: var(--blue);
    }

.like {
    display: flex;
    align-items: center;
}

    .like img {
        margin-right: 50px;
        margin-left: 10px;
        position: relative;
    }

        .like img:nth-child(4) {
            transform: rotate(180deg);
        }

h4 {
    font-size: 25px;
}
