#first{
    display: block;
    width: 94%;
    margin: auto;
    padding: 30px 0;
}

#first img{
    width: 120px;
}

.block{
    margin: auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

ul{
    list-style: none;
}

.part{
    display: inline-block;
}

.part{
    padding: 20px;
    vertical-align: middle;
}

.part li{
    padding: 10px;
}

.score{
    color: var(--blue);
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
}

#infos{
    width: 50%;
    margin-right: 9%;
}

#infos p{
    padding: 10px 25px;
}

.bottominfos{
    padding-bottom: 50px;
}

#stats{
    width: 40%;
    text-align: center;
}

#stats .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#stats h3{
    padding: 20px;
    font-size: 30px;
}

#stats .flex div{
    width: 100px;
    height: 100px;
    margin: 20px;
    position: relative;
}

#stats .flex div p{
    top: -67px;
    position: relative;
}

#second{
    width: 94%;
    margin: auto;
}

#second .block{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

#infosecond{
    width: 500px;
    padding: 20px;
}

#color{
    padding: 20px;
}

#color div{
    width: 60px;
    height: 200px;
    margin: 5px;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#color div:nth-child(1){
    background-color: #A8385D;
    height: 160px;
}
#color div:nth-child(2){
    background-color: #7AA3E5;
}
#color div:nth-child(3){
    background-color: #A27EA8;
    height: 150px;
}
#color div:nth-child(4){
    background-color: #AAE3F5;
    height: 150px;
}
#color div:nth-child(5){
    background-color: #ADCDED;
    height: 140px;
}
#color div:nth-child(6){
    background-color: #A95963;
    height: 150px;
}

#second ul{
    padding: 20px;
}

#second ul li{
    padding: 20px;
}

#second ul li span{
    color: #928F8F;
}

#second ul li p{
    margin-left: 20px;
}