#index-top{
    min-height: 100vh;
    position: relative;
}

#index-top img{
    position: absolute;
    z-index: -1;
}
#index-top img:nth-of-type(1){
    top: -8%;
    left: -4%;
}
#index-top img:nth-of-type(2){
    right: 0;
}

.boutton{
    margin: 15px auto;
    width: 200px;
    text-align: center;
    transition: .2s;
}

.listeactus, .listeversus{
    width: 50%;
    margin: auto;
    padding: 50px;
}

h3{
    font-size: 30px;
    padding-bottom: 30px;
}

.block{
    padding: 25px;
    margin: 70px 0;
}


.listeversus{
    display: flex;
    flex-wrap: wrap;
}

.listeversus .block{
    width: 350px;
    margin: 25px;
    text-align: center;
}

.listeversus .block div:nth-of-type(1) img{
    position: relative;
    height: 150px;
    display: inline-block;
    margin: 20px;
}

.listeversus .block .line-blue{
    height: 3px;
}

.listeversus .block div:nth-of-type(3) p{
    display: inline-block;
    width: 49%;
    margin: 25px 0;
}

.listeversus .block div:nth-of-type(3) p:nth-last-of-type(1){
    text-align: right;
}
.listeversus .block div:nth-of-type(3) p:nth-last-of-type(2){
    text-align: left;
}