section p{
    padding: 20px 20px 20px 20px;
}

#horaire{
    padding: 0px 20px 0px 40px;
}

.frame{
    height: auto;
}

img{
    width: 700px;
    padding: 10px 10px 10px 10px;
}

.block{
    margin: 50px 50px 50px 50px;
}

#flex{
    display: flex;
}

.line-blue{
    margin: 20px auto 20px auto;
}

.caroussel img{
    width: 300px;
    padding: 30px 30px 30px 30px;
    opacity: 0.5;
}

.caroussel{
    display:flex;
    justify-content: center;
}

.cercle { 
    height: 72x; 
    width: 76px; 
    background-color: #2E6BF5;
    border-radius: 50%;
    margin: auto;
    text-align: center;
}

#centre{
    display: flex;
    padding-left: 24px;
    padding-top: 7px;
    font-size: 40px;
    color: white;
}

.milieu img{
    width: 346px;
    padding-top: 20px;
    opacity: 1;
}