:root{
    --blue: #2E6BF5;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: "Poppins";
    src: url("../img/Poppins-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: url("../img/Poppins-Regular.ttf");
    font-weight: normal;
}

body{
    background-color: #F5F5F5;
}

.frame{
    width: 70%;
    margin: auto;
    height: 100vh;
}

h1{
    text-align: center;
    font-size: 60px;
    color: #08264A;
    padding: 100px;
}

h2{
    color: #2E6BF5;
    text-align: center;
    font-size: 30px;
}

.sous-titre{
    color: black;
    font-size: 15px;
    text-align: center;
}

.line-blue{
    height: 10px;
    background-color: #2E6BF5;
    width: 50%;
    border-radius: 10px;
    margin: auto;
}

.block{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

/* nav */

header{
    display: block;
    position: relative;
    width: 100%;
    background-color: #F4F5F7;
    z-index: 99999;
    border-bottom: 2px solid white;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
header nav{
	display:flex;
	width: 100%;
}
header nav div{
	margin: auto 100px auto auto;
}
header nav div ul{
	display: flex;
	list-style: none;
	margin: 0;
}
header nav div ul li{
	font-size: 15px;
	margin: 15px 40px;
	display: flex;
	align-items: center;
    transition: .2s;
}
header nav div ul li a{
	color: black;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
    position: relative;
    transition: .2s;
}
header nav div ul li a::before{
    content: "";
    position: absolute;
    transform: scaleX(0);
    left: 0;
    transition: .2s;
}
header nav div ul li a:hover::before{
    transform: scaleX(1);
}
#boutique::before, header nav div ul li a:not(#quisommesnous a):hover::before{
    content: "";
    position: absolute;
    width: 300%;
    height: 2px;
    bottom: -34px;
    left: -60px;
    background: radial-gradient(circle, rgba(46,107,245,1) 10%, rgba(255,255,255,1) 100%);
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
#logoclick{
	margin: 5px 100px;
}
#logo{
	width: 50px;
}
ul li input{
	width: 250px;
}
ul li input, ul li button{
	background-color: white;
	border: none;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	padding: 7px 20px;
	border-radius: 100px;
}
ul li input::placeholder{
	color: #D7D7D7;
}
ul li button{
	background-color: #2E6BF5;
	color: white;
	transform: translateX(-30px);
}
#quisommesnous{
	background-color: #2E6BF5;
	padding: 7px 20px;
	border-radius: 10px;
}
#quisommesnous:hover{
    background-color: white;
}
#quisommesnous:hover a{
    color: #2E6BF5;
}
#quisommesnous a{
	color: white;
}

/* fin nav */

/*css footer*/

header{
    display: block;
    position: relative;
    width: 100%;
    background-color: #F4F5F7;
    z-index: 10;
    border-bottom: 2px solid white;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
header nav{
    display:flex;
    width: 100%;
}
header nav div{
    margin: auto 100px auto auto;
}
header nav div ul{
    display: flex;
    list-style: none;
    margin: 0;
}
header nav div ul li{
    font-size: 15px;
    margin: 15px 40px;
    display: flex;
    align-items: center;
    transition: .2s;
}
header nav div ul li a{
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    position: relative;
    transition: .2s;
}
header nav div ul li a::before{
    content: "";
    position: absolute;
    transform: scaleX(0);
    left: 0;
    transition: .2s;
}
header nav div ul li a:hover::before{
    transform: scaleX(1);
}
#boutique::before, header nav div ul li a:not(#quisommesnous a):hover::before{
    content: "";
    position: absolute;
    width: 300%;
    height: 2px;
    bottom: -34px;
    left: -60px;
    background: radial-gradient(circle, rgba(46,107,245,1) 10%, rgba(255,255,255,1) 100%);
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
#logoclick{
    margin: 5px 100px;
}
#logo{
    width: 50px;
}
ul li input{
    width: 250px;
}
ul li input, ul li button{
    background-color: white;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 7px 20px;
    border-radius: 100px;
}
ul li input::placeholder{
    color: #D7D7D7;
}
ul li button{
    background-color: #2E6BF5;
    color: white;
    transform: translateX(-30px);
}
#quisommesnous{
    background-color: #2E6BF5;
    padding: 7px 20px;
    border-radius: 10px;
}
#quisommesnous:hover{
    background-color: white;
}
#quisommesnous:hover a{
    color: #2E6BF5;
}
#quisommesnous a{
    color: white;
}

/* fin nav */

/*css footer*/

footer {
    display: flex;
    background-color: #2E6BF5;
    color: white;
    margin-top: 100px;
    
}
footer p{
    margin: 20px auto;
}
footer div{
    margin-left: 50px;
    margin-right: 50px;
    margin: 10px auto;
    
}
footer span{
    display: flex;
    align-items: end;
    margin-left: 800px;
    margin-bottom: 20px;
}

div.test{
    margin: 0px;
}

div.test p{
    margin: 0px;
}


ion-icon{
}

.test{
    display: flex;
    align-items: center;
}
